@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .shadow-stacked-lg{
        box-shadow: 0 0 #0000, 0 0 #0000, 10px 10px 0 #8b5cf6, 20px 20px 0 #6d28d9 ;
    }
    .text-muted{
        color: #94a3b8;
    }
}



.img-a {
    @apply shadow-stacked-lg relative flex h-0 w-full pb-[100%] transition-all;
  }

.section-container{
   @apply w-full max-w-[450px] space-y-8 pb-[20px] pr-[20px] text-center;
}

.time-posted{
    @apply absolute inset-x-0 flex justify-center top-2;
}

.unit-details{
    @apply mr-[-10px] flex flex-col items-center justify-between gap-1 pl-[10px] font-sans text-xs font-bold uppercase lg:mr-[-20px] lg:pl-[20px];
}

.time-text {
    @apply z-20 px-4 py-1 text-xs font-bold tracking-wide text-black uppercase bg-white rounded-full shadow-xl;
}

.signup-btn{
    @apply relative flex items-center gap-2 px-4 py-2 text-base font-medium text-black transition-all duration-75 bg-white rounded-full cursor-pointer hover:bg-gray-200 active:bg-gray-300 hover:text-black active:text-black;
}

.btn-text{
    @apply flex items-center justify-center transition-all pointer-events-none;
}

.how-btn{
    @apply relative flex items-center gap-2 px-4 py-2 text-base font-medium transition-all duration-75 rounded-full cursor-pointer hover:bg-black/10 active:bg-black/20;
}