.faster {
    .back {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgb(17, 17, 17);
        opacity: 0.7;
        backdrop-filter: blur(10px);
        cursor: not-allowed;
        z-index: 1000;
    }
    .modal {
        z-index: 1001;
        width: 320px;
        left: 50%;
        top: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
        background-color: rgb(21, 24, 29);
        border-left: 0px;
        border-radius: 16px;
        box-shadow: 10px 5px 5px black;
        padding: 16px 32px;
        filter: grayscale(1);
        cursor: not-allowed;

        img {
            display: inline-block;
            margin-bottom: 8px;
        }
    }    
    .ani {
        filter: grayscale(0);
        // cursor: pointer;
        // display: grid;
        // place-content: center;
        // color: white;
        // text-shadow: 0 1px 0 #000;
        
        // --border-angle: 0turn; // For animation.
        // --main-bg: conic-gradient(
        //     from var(--border-angle),
        //     #213,
        //     #112 5%,
        //     #112 60%,
        //     #213 95%
        //     );
        
        // border: solid 5px transparent;
        // border-radius: 2em;
        // --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
        
        // background: 
        //     // padding-box clip this background in to the overall element except the border.
        //     var(--main-bg) padding-box,
        //     // border-box extends this background to the border space
        //     var(--gradient-border) border-box, 
        //     // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
        //     var(--main-bg) border-box;
        
        // background-position: center center;

        // animation: bg-spin 3s linear infinite;
        // @keyframes bg-spin {
        //     to {
        //     --border-angle: 1turn;
        //     }
        // }

        // &:hover {
        //     animation-play-state: paused;
        // }
    }    
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}