@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }
  .text-ink {
    color: #ede9fe;
  }
  .text-muted {
    color: #c4b5fd;
  }
}

.footer-link {
  @apply text-base text-gray-400 hover:text-gray-300;
}

.footer-heading {
  @apply text-sm font-semibold tracking-wider text-gray-500 uppercase;
}

.footer-company-about {
  @apply flex items-center justify-center transition-all pointer-events-none;
}

.footer-company-heading {
  @apply relative flex items-center gap-2 text-base text-gray-400 transition-all cursor-pointer hover:text-gray-300;
}
